@media only screen and (max-width: 768px) {
    /* Aquí van todos los estilos CSS */
}


/* selector universal*/
* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 16px;
}

/* selector de etiqueta*/
/*
label {
    font-size: 25px;
    background-color: aqua;
    text-decoration: underline;
}

h2 {
    font-size: 25px;
    background-color: aqua;
    text-decoration: underline;
}
*/
/* selector combinado*/
label,
h2 {
    font-size: 25px;
    background-color: aqua;
    text-decoration: underline;
}

/* selector id*/
input#nombre {
    background-color: brown;
    margin: 50px auto 50px 20px;

}

/* selector clase*/
th.cabecera {
    background-color: rgb(229, 223, 49);
}

/* selector descendiente*/
div span {
    font-size: 1.3rem;

    color: #ff22aa;

}

/* selector hijo*/
div>span {
    background-color: yellow;
}

#texto_especial {
    background-color: rgb(226, 52, 46);
}

/* selector hermanos generales*/
span~p {
    font-style: italic;
    font-weight: bold;
    background-color: #ff22aa;
}

/* selector hermanos generales*/
span+p {
    background-color: rgb(187, 187, 127);
}

p {
    font-size: 3em;
}

span:hover {
    color: black;
}