*{
    padding: 0px;
    margin: 0px;
}

html{
    font-size: 16px;
}

header{
    background-color: chocolate;
    display: flex;
    justify-content: space-evenly;
}

figure{
    width: 10%;
    background-color: rgb(210, 207, 30);
}

h1 {
    width: 85%;
    background-color: rgb(30, 174, 210);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#menu-principal{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.1rem;
    background-color: rgb(206, 241, 241);
}

a.menu-item{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #fff ;
}

a.menu-item:hover{
    border-bottom: 1px solid rgb(255, 234, 0) ;
    
}

#contenedor-principal{
    display: flex;
    justify-content: space-evenly;
}

footer{
    background-color: rgb(55, 48, 48);
    margin-top: 3rem;
    padding: 0.3rem;
    display: flex;
    justify-content: space-evenly;
}

nav#nav-lateral{
    background-color: rgb(214, 126, 126);
    
}

aside{
    background-color: rgb(126, 183, 214);

}

ul{
    margin: 1rem;
    list-style-type: none;
}

p{
    text-align: justify;
    padding: 0.6rem;
}