/* esto es un comentario
    * {
        font-size: 20px;
    }
*/
/* selectores de etiquetas*/
h1 {
    background-color: coral;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    font-size: 2.5em;
}

/* selector de id*/
#inputApellido {
    width: 300px;
}

/* selector de clase*/
label.etiqueta {
    background-color: rgb(169, 214, 230);
    font-size: 16px;
    color: crimson;
}

/* selector combinado*/
h1,
h2,
h3 {
    color: rgb(70, 58, 58);
}

/* selectores descendientes*/
ul li {
    background-color: #a23054;
    margin-bottom: 5px;
    padding: 4px 3px;
}

ol li {
    background-color: #0030b4;
    margin-bottom: 5px;
}

div#contenedor span {
    font-size: 1.5em;
    color: rgb(3, 96, 246);
}

/* selectores de hijos*/
div#contenedor > span {
    color: rgb(3, 246, 19);
    font-style: italic;
    font-weight: bold;
}

#parrafo-importante{
    background-color: rgb(252, 250, 96);
}

/* selectores de hermanos generales*/
h2 ~ p {
    background-color: darkgoldenrod;
}

/* selectores de hermanos adyacentes*/
h2 + p {
    background-color: rgb(11, 184, 98);
}
